.stick {
    height: 200px;
    width: 10px;
    background: black;
    justify-self: center;
}
.lightgroup {
    height: 515px;
    width: 190px;
    background: black;
    justify-self: center;
    padding: 10px 5px;
    border-radius: 15px;
}
.light {
    justify-self: center;
    height: 160px;
    width: 160px;
    border-radius: 100%;
    margin: 5px;
}
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}
.glow {
    box-shadow: 0 0 42px white;
}
body {
    background-image: url('src/img/one.png');
    background-size: cover;
    width: 1650px;
}
